header{
    background:linear-gradient(rgb(59, 154, 156) ,rgb(145, 176, 145)) ;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 20px;
}

.logo{
    height: 5rem;
    width: 18rem;
}

.logo-img{
    height: 100%;
    width: 100%;
}

.head-btn{
    background:linear-gradient(rgb(59, 154, 156) ,rgb(145, 176, 145)) ;
    width: 100px;
    height: 30;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head-btn:hover{
    cursor: pointer;
    color: lightblue;
}