footer{
    background: linear-gradient(rgb(59, 154, 156) ,rgb(145, 176, 145));
    position: absolute;
    height: 5vh;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}